/* Estilo base para el juego */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
}

#titulo {
    font-size: 2.5em;  /* Aumentamos el tamaño del título */
    font-weight: bold; /* Hacemos el título más visible */
    margin-bottom: 30px;  /* Aumentamos el espacio entre el título y la tarjeta */
}

#tarjeta {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;  /* Aumentamos el padding dentro de la tarjeta */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#categoria {
    font-size: 1.5em;  /* Aumentamos el tamaño de la categoría */
    font-weight: bold;
    margin-bottom: 15px;  /* Espacio entre la categoría y el texto */
}

#texto {
    font-size: 1.2em;  /* Tamaño de la letra para el texto de la tarjeta */
    margin-bottom: 20px;  /* Espacio entre el texto y la solución */
}

#solucion {
    font-size: 1.1em;  /* Tamaño de la letra para la solución */
    color: #555;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
}

#siguiente {
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 100%;
}

.punto {
    background-color: #008CBA;
    color: white;
    border: none;
    width: 23%;
    margin: 10px;
}

